@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 97% 8%;

    --card: 0 0% 100%;
    --card-foreground: 240 97% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 97% 8%;

    --primary: 240 97% 8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 223 68% 46%;
    --secondary-foreground: 210 40% 98%;

    --accent: 270 25% 62%;
    --accent-foreground: 240 97% 8%;

    --highlight: 43 100% 52%;
    --highlight-foreground: 240 97% 8%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 97% 8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose img {
  @apply rounded-lg mx-auto;
}

.prose a {
  @apply text-secondary hover:text-secondary/80 transition-colors;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  @apply font-bold;
}

.prose blockquote {
  @apply border-l-4 border-accent pl-4 italic;
}

